

header{
    background-color: gray;
}

.sidebar{
    background-color: blue;
    color: white;
}

.jumbotron{
    background-color: aqua;
}

.row > *{
    border: 1px solid red;
}

.my_dashboard, .main_content{
    background-color: aquamarine;
}
